*.aux
*.log

venv
solutions/
node_modules/
package*.json
.vscode

\.DS_Store

__pycache__/
.ipynb_checkpoints/
/.idea/
/.ijwb/
/.venv/
/wandb/
/bazel-*
/user.bazelrc
/.history
dist/

manipulation.egg-info/

clutter_maskrcnn_data/

clutter_maskrcnn_model.pt

clutter_maskrcnn_test.zip

MODULE.bazel

book/python/
manipulation-solutions
