#
# Assembles requirements for running the manipulation source on colab.
# Test this with 
# https://colab.research.google.com/drive/19mv-nL0Klga__lu_DD0njq9QktvfyKBh#scrollTo=OoLUyF5rZFHm
#

-r ubuntu-shared-requirements.in
-c colab-constraints.txt
pyngrok<5.0.0 # until I update the meshcat sha in drake
pyvirtualdisplay>=1.3.2
