-r htmlbook/mac-requirements.in
-c htmlbook/mac-constraints.txt
gradescope-utils>=0.4
mpld3>=0.5.6 # for matplotlib>=3.5.0
#nevergrad>=0.4.3; platform_machine == 'x86_64'
#pymcubes>=0.1  # was causing a numpy mismatch on python3.10 (forcing numpy 1.21.6 to be installed, somehow)
requests>=2.25
#scipy # only needed for pymcubes
stable-baselines3>=1.4.0
tensorboard>=2.5.0
timeout-decorator>=0.5
torch>=1.12.1
#https://download.pytorch.org/whl/nightly/cpu/torch-1.12.0.dev20220225-cp39-none-macosx_10_9_x86_64.whl; platform_machine == 'x86_64' 
#https://download.pytorch.org/whl/nightly/cpu/torch-1.12.0.dev20220225-cp39-none-macosx_11_0_arm64.whl; platform_machine == 'arm64' 
# torchvision is only needed for the segmentation notebooks, which are not tested locally
#https://download.pytorch.org/whl/nightly/torchvision-0.13.1.dev20210218-cp39-cp39-macosx_10_9_x86_64.whl
