altair>=4.1.0
beautifulsoup4>=4.9.3
bibtexparser
gradescope-utils>=0.4.0
matplotlib==3.3.1
meshcat>=0.0.19
mpld3>=0.5.1
mysql-connector-python
open3d==0.10.0.0
plotly>=4.10.0
pycodestyle>=2.6.0
pydocstyle>=5.1.1
pydot>=1.4.1
PyMCubes>=0.0.9
PyYAML>=5.3.1
requests>=2.14.2
scipy>=1.5.2 # this should come only indirectly (e.g. from drake), but brew scipy moved to python 3.9 and is currently broken.
timeout-decorator>=0.4.1
torch>=1.7.0
yapf>=0.30.0

# //exercises/rl:policy_gradient hit a scipy/numpy mismatch bug.
# hard-code scipy version for now:
scipy==1.5.3
