[tool.poetry]
name = "manipulation"
# Use e.g. 2024.10.4.rc0 if I need to release a release candidate.
# Use e.g. 2024.10.4.post1 if I need to rerelease on the same day.
version = "2024.12.28post1"
description = "MIT 6.421 - Robotic Manipulation"
authors = ["Russ Tedrake <russt@mit.edu>"]
license = "BSD License"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License"
]
include = [
    "LICENSE.txt",
    "README.md",
    "pyproject.toml",
    "manipulation/**/*.py",
    "manipulation/**/*.npy",
    "manipulation/**/*.sdf",
    "manipulation/**/*.urdf",
    "manipulation/**/*.xml",
    "manipulation/**/*.yaml",
    "manipulation/**/*.obj"
]
exclude = [
    "*.egg-info/**",
    "**/__pycache__/**",
    "**/*.bazel",
    "**/test/**",
    "bazel-*",
    "book/**",
    "solutions/**",
    "figures/**"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "drake-nightly"
url = "https://drake-packages.csail.mit.edu/whl/nightly/"
priority = "explicit"

[tool.poetry.dependencies]
python = "<4.0,>=3.10"
cloudpickle = "2.2.1"  # needs to be pinned for stored files to remain compatible.
#drake = { version = ">=0.0.20240615", source = "drake-nightly" }
drake = ">=1.32.0"
gradescope-utils = ">=0.4.0"
ipywidgets = ">=8"
# Note: matplotlib gets additional handling in PoetryExport.sh for bazel. 
matplotlib = ">=3.7.0" # old versions don't build in XCode
mpld3  = ">=0.5.6"
nevergrad = ">=0.4.3"  # TODO: avoid expensive bayesian optimization dep
numpy = "<2.0.0"  # https://stackoverflow.com/questions/78533824/local-installation-of-drake-on-macos-sonoma
psutil = ">=5.9.*"
#pymcubes = ">=0.0.9"
pyzmq = [ 
  {platform="darwin", version=">=25.0.0"}, # needed for python 3.11?
  {platform="linux", version=">=24.0.0"},   # <25.0.0 is currently needed for deepnote 
]
scipy = ">=1.10.0"  # From github dependabot
stable-baselines3 = ">=2.0.0"
timeout-decorator = ">=0.4.1"
torch = ">=2.0.1 <2.4.0" # 2.4.0 doesn't support +cpu yet; needed for bazel on linux
torchvision = ">=0.10.1"
tqdm = ">=4"
trimesh = {extras = ["recommend"], version = ">=4.0.0 <4.2.0"}
vhacdx = ">=0.0.5"
#wandb = ">=0.14.0"

[tool.poetry.group.docs]
optional = true

# Must include all dependencies required to build the docs with sphinx + autodoc.
[tool.poetry.group.docs.dependencies]
#drake = { version = ">=0.0.20240615", source = "drake-nightly" }
drake = ">=1.32.0"
ipython = ">=7.8.0"
sphinx = ">=7.2.6"
myst-parser = ">=2.0.0"
sphinx_rtd_theme = ">=2.0.0"

[tool.poetry.group.dev.dependencies]
beautifulsoup4 = ">=4.6.3"
black = { version = ">=23.*", extras = ["jupyter"] }
lxml = ">=4.9.2" # seems to be needed on python 3.11
lxml-html-clean = ">=0.1.0"
mysql-connector-python = ">=8.0.23"
nbconvert = [ 
  {platform="darwin", version="7.0.0"},
  {platform="linux", version="6.4.0"},
]
requests = ">=2.25.1"
pre-commit = "^3.4.0"
poetry-pre-commit-plugin = "^0.1.2"
pyvirtualdisplay = ">=3.0"

[tool.black]
include = '\.ipynb?$|\.pyi?$'
exclude = '''
/(
    \.git
  | \.history
  | bazel-*
  | \.venv
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
skip_glob = [
  "**/.git/**",
  "**/.history/**",
  "bazel-*",
  "**/.venv/**",
  "**/build/**",
  "**/dist/**",
]

[tool.autoflake]
in-place = true
recursive = true
expand-star-imports = true
ignore-init-module-imports = true
remove-all-unused-imports = true
remove-duplicate-keys = true
remove-unused-variables = true
