altair>=4.1.0
bleach>=3.3.0 # github issued a security concern.  this requirement comes from nbconvert (via open3d)
gradescope-utils>=0.4.0
mpld3>=0.5.1
open3d==0.10.0.0 # new dependencies added from 0.11
plotly>=4.10.0
PyMCubes>=0.0.9
timeout-decorator>=0.4.1

# //exercises/rl:policy_gradient hit a scipy/numpy mismatch bug.
# hard-code scipy version for now:
scipy==1.5.3
