-r ubuntu-shared-requirements.in
-r htmlbook/ubuntu-requirements.in
-c htmlbook/colab-constraints-ubuntu.txt
matplotlib<=3.1.3 # https://github.com/RobotLocomotion/drake/issues/14250
nbconvert<6.0.0 # https://github.com/RussTedrake/manipulation/issues/106
torch>=1.7.0
