
@page { 
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-left: 4cm;
  margin-right: 4cm;
}

body {
  width: auto !important;
  font-size: 12px !important;
}

[data-type="titlepage"] {
  font-size: 16px !important;
}
[data-type="subtitle"] {
  font-size: 14px !important;
}

mjx-assistive-mml {
  display: inline !important;
}

[pdf="no"] {
  display: none !important;
}
[pdf="only"] {
  display: inherit !important;
}
